<!--Author: Yaswanth Yarram -->
<br/>
<br/>
<h2>orderLineItem details</h2>
<br/>
<br/> ID:
<%=orderLineItem._id %>
<br/>orderID:
<%= orderLineItem.orderID%>
    <br/> lineNumber:
    <%=orderLineItem.lineNumber%>
      <br/> productKey:
      <%=orderLineItem.productKey%>
      <br/> quantity:
      <%=orderLineItem.quantity%>
          
            <br/>
            <br/>
            <form method="get" action="/orderLineItems">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>