 <!-- main  -->
<div class="form-group">
  <label for="email">orderID</label>
  <input type="number" class="form-control" id="orderID" name="orderID" value="<%= orderLineItem.orderID %>" required>
</div>
</div>
<div class="form-group">
  <label for="Firstname">lineNumber</label>
  <input type="text" class="form-control" id="lineNumber" name="lineNumber" value="<%= orderLineItem.lineNumber%>" required>
</div>
<div class="form-group">
  <label for="Lastname">productKey</label>
  <input type="text" class="form-control" id="productKey" name="productKey" value="<%= orderLineItem.productKey %>" required>
</div>
<div class="form-group">
  <label for="street1">quantity</label>
  <input type="text" class="form-control" id="quantity" name="quantity" value="<%=orderLineItem.quantity %>" required>

      
</div>
