<% include header %>
<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="jumbotron">
            <h1 class="display-4 text-center">404 : Sorry, something has gone wrong</h1>
            <p class="lead"></p>
            <hr class="my-4">
        </div>
    </div>
</div>
<% include footer %>