</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; 2017-2018</p>
    <p class="text-muted"><a href="https://bitbucket.org/yashu2397/m10/src/master/">Repository</a></p>
  </div>
</footer>
