<div class="container">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Welcome</a>

        </div> 
        <!-- <div id="navbar" class="navbar-collapse collapse">

        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
            <li>
              <a href="/customer/">Customer</a>
            </li>
            <li>
              <a href="/product/">Product</a>
            </li>
            <li>
              <a href="/orders/">Order</a>
            </li>
            <li>
              <a href="/OrderLineItem/">Orderline</a>
            </li>
            <% include about.ejs %>

          </ul> --> -->

                <ul class="nav navbar-nav">
                   <!-- <li><a href=/>Home</a></li> -->
                   <li class= "dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us
                       <span class="caret"></span></a>
                       <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://a03assignment.herokuapp.com/">Yaswanth Yarram</a></li>
                        <li><a class="dropdown-item" href="https://salty-meadow-39921.herokuapp.com/Index">Venkat Akhil Pendem</a></li>
                         <li><a class="dropdown-item" href="https://srikar-a03.herokuapp.com/">Srikar Patle</a></li>
                       </ul>
                   </li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="/customer">Customer</a></li>
                    <li><a href="/order">Orders</a></li>
                    <li><a href="/orderLineItems">Order Line Item</a></li>
                  

                </ul>
            </div>
        </nav>
        <!-- <img src="images/kitkat.jpg" alt ="My image" width="200px" height = "200px" >
        <img src="images/earphones.jpg" alt ="My image" width="200px" height = "200px" >
        <img src="images/shirts.jpg" alt ="My image" width="200px" height = "200px" >
        <img src="images/paneer.jpg" alt ="My image" width="200px" height = "200px" >
        <img src="images/santoor.jpg" alt ="My image" width="200px" height = "200px" > -->


          </ul>
  

        </div>
        <!--/.navbar-collapse -->
      </div>
    </nav>
  </div>



