<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <h1>E commerce </h1>
        <br/>
        <h2>Use this area to display information. </h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
          <li>
            <a href="http://localhost:8089/product">http://localhost:8089/product</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/create">http://localhost:8089/product/create</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/product/edit/1">http://localhost:8089/product/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/edit/2">http://localhost:8089/product/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/edit/3">http://localhost:8089/product/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/product/delete/1">http://localhost:8089/product/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/delete/2">http://localhost:8089/product/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/delete/3">http://localhost:8089/product/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/product/details/1">http://localhost:8089/product/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/details/2">http://localhost:8089/product/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/details/3">http://localhost:8089/product/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="http://localhost:8089/product/findall">http://localhost:8089/product/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/findone/1">http://localhost:8089/product/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/findone/2">http://localhost:8089/product/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/findone/3">http://localhost:8089/product/findone/3</a>
          </li>
  
        </ol>
        <ol>
          <li>
            <a href="http://localhost:8089/customer">http://localhost:8089/customer</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/create">http://localhost:8089/customer/create</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/customer/edit/1">http://localhost:8089/customer/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/edit/2">http://localhost:8089/customer/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/edit/3">http://localhost:8089/customer/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/customer/delete/1">http://localhost:8089/customer/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/delete/2">http://localhost:8089/customer/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/delete/3">http://localhost:8089/customer/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/customer/details/1">http://localhost:8089/customer/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/details/2">http://localhost:8089/customer/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/details/3">http://localhost:8089/customer/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="http://localhost:8089/customer/findall">http://localhost:8089/customer/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/findone/1">http://localhost:8089/customer/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/findone/2">http://localhost:8089/customer/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/customer/findone/3">http://localhost:8089/customer/findone/3</a>
          </li>
  
        </ol>
        <ol>
          <li>
            <a href="http://localhost:8089/order">http://localhost:8089/order</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/create">http://localhost:8089/order/create</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/order/edit/1">http://localhost:8089/order/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/edit/2">http://localhost:8089/order/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/edit/3">http://localhost:8089/order/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/order/delete/1">http://localhost:8089/order/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/delete/2">http://localhost:8089/order/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/delete/3">http://localhost:8089/order/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/order/details/1">http://localhost:8089/order/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/details/2">http://localhost:8089/order/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/details/3">http://localhost:8089/order/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="http://localhost:8089/order/findall">http://localhost:8089/order/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/findone/1">http://localhost:8089/order/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/findone/2">http://localhost:8089/order/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/findone/3">http://localhost:8089/order/findone/3</a>
          </li>
  
        </ol>
        <ol>
          <li>
            <a href="http://localhost:8089/orderLineItems">http://localhost:8089/orderLineItems</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLineItems/create">http://localhost:8089/orderLineItems/create</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/orderLineItems/edit/1">http://localhost:8089/orderLineItems/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLineItems/edit/2">http://localhost:8089/orderLineItems/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLineItems/edit/3">http://localhost:8089/orderLineItems/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/orderLineItems/delete/1">http://localhost:8089/orderLineItems/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLineItems/delete/2">http://localhost:8089/orderLineItems/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLineItems/delete/3">http://localhost:8089/orderLineItems/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/orderLineItems/details/1">http://localhost:8089/orderLineItems/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLineItems/details/2">http://localhost:8089/orderLineItems/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLineItems/details/3">http://localhost:8089/orderLineItems/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="http://localhost:8089/orderLineItems/findall">http://localhost:8089/orderLineItems/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLineItems/findone/1">http://localhost:8089/orderLineItems/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLineItems/findone/2">http://localhost:8089/orderLineItems/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLineItems/findone/3">http://localhost:8089/orderLineItems/findone/3</a>
          </li>
  
        </ol>
  
  
      </div>
    </div>
  </div>
