<!--Author: Yaswanth Tarram-->
<br />
<br />
<h2>Order details</h2>
<br />
<br /> Order ID:
<%=  order._id %>
<br> First Name:
<%=order.firstname%>
<br> Last Name:
<%=order.lastname%>
<br /> Date Placed:
<%=order.datePlaced%>
<br /> Date Shipped:
<%=order.dateShipped%>
<br /> Payment Type:
<%=order.payentType%>
<br /> Paid:
<%=order.paid%>
<br />
<br />

<form method="get" action="/order">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>